.App {
  text-align: center;
  padding: 0;
  margin: 0;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.editTodo{
  margin-bottom: 1rem;
}

.editTodo > *{
  margin: .5rem; 
}

.todo > *{
  font-size: medium;
  margin: 0% 25%;
}

.listItem {
  display: flex;
  
}

.todo-text {
  display: flex;
  margin-left: .5rem;
  text-align: left;
  flex: 1; 
}

.todo-actions {
  display: flex;
  gap: 1rem;
}

.completed {
  background-color: rgb(166, 243, 166);
}

.completed > .todo-text{
  text-decoration: line-through;

}